* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .layar-dalam {
    width: 1000px;
    margin: auto;
  }
  .layar-penuh {
    width: 100%;
  }
  nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: 0.5s ease;
  }
  nav.putih {
    background-color: #fff;
  }
  nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
  }
  nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
  }
  nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
  }
  header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 50px;
  }
  .tombol {
    background-color: #c86b85;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
  }
  .tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .tombol-menu .garis {
    height: 3px;
    background-color: #fff;
  }
  section {
    padding: 50px 0px 50px 0px;
  }
  section h3 {
    font-size: 30px;
  }
  section h3::after {
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
  }
  #aboutme,
  #article {
    text-align: center;
  }
  section p.ringkasan {
    font-style: italic;
    font-size: 24px;
    color: #000000;
  }
  section .konten-isi p {
    font-style: normal;
  }
  nav.putih {
    background-color: #fff;
  }
  nav.putih .tombol-menu .garis {
    background-color: #333;
  }
  nav.putih ul li a {
    color: #333;
  }
  nav .logo img.hitam {
    display: none;
  }
  section.abuabu {
    background-color: #f5f6f6;
  }
  .myhobby,
  .article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .myhobby h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
  }
  .myhobby img {
    width: 250px;
  }
  .myhobby div {
    text-align: center;
    width: 26%;
  }
  .article .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .article div.area div {
    width: 50%;
  }
  .article .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .article .area .text article {
    padding: 40px;
  }
  .article .area .text article h4 {
    margin: 0px;
  }
  .article .area .text article a {
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  .article .area .text article a:hover {
    color: #ccc;
  }
  footer {
    padding: 50px 0px 50px 0px;
    background-color: black;
    color: #fff;
    text-align: center;
  }
  footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .layar-dalam div {
    width: 20%;
    text-align: center;
  }
  footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
  }
  @media screen and (max-width: 991.98px) {
    .layar-dalam {
      width: 90%;
    }
    nav .menu ul {
      display: none;
      margin-top: 60px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    nav .menu ul li {
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      line-height: 40px;
    }
    nav .menu ul li a {
      color: #333;
    }
    .tombol-menu {
      display: flex;
    }
    .article .area {
      display: block;
    }
    .article div.area div {
      width: 100%;
    }
    .article .area .gambar {
      border-radius: 5px 5px 0px 0px;
      height: 200px;
    }
    .myhobby {
      display: block;
    }
    .myhobby div {
      width: 100%;
      padding-bottom: 30px;
    }
    }
    footer .layar-dalam .item.social {
      text-align:center;
      padding-top: 20px;
    }
    
    @media (max-width:991px) {
      footer .layar-dalam .item.social {
        text-align:center;
        margin-top:20px;
      }
    }
    footer .layar-dalam .item.social > a {
      font-size:20px;
      width:36px;
      height:36px;
      line-height:36px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      box-shadow:0 0 0 1px rgba(255,255,255,0.4);
      margin:0 8px;
      color:#fff;
      opacity:0.75;
    }
    footer .layar-dalam .item.social > a:hover {
      opacity:0.9;
    }
    a{
      color: #fff;
    }
    img{
      width: 180px;
      height: 220px;
    }